<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <!-- Liên kết đến Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{layout :: page_navbar}"></div>
<div class="container-fluid text-center p-4">
    <h1>Admin Manager</h1>
    <div class="row d-flex justify-content-center">
        <a class="btn btn-primary col-3 mx-2" th:href="@{admin/companies}">Company Manager</a>
        <a class="btn btn-primary col-3 mx-2" th:href="@{admin/jobs}">Job Manager</a>
        <a class="btn btn-primary col-3 mx-2" th:href="@{admin/skills}">Skill Manager</a>
        <a class="btn btn-primary col-3 mx-2" th:href="@{admin/candidates}">Candidate Manager</a>
    </div>
</div>

<!-- Liên kết đến Bootstrap JS và jQuery -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
