<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Manager</title>
    <!-- Liên kết đến Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{layout :: page_navbar}"></div>
<div class="container-fluid text-center p-4">
    <h1>Job Manager</h1>
    <!--    add -->
    <div class="my-5 offset-2 col-md-6 offset-md-3">
        <div class="input-group">
            <!-- Dropdown for City -->
            <select class="form-select col" aria-label="City" th:value="${city}">
                <option class="text-center" value="4" th:selected="${city == '4'}">Thành Phố</option>
                <option class="text-center" value="1" th:selected="${city == '1'}">Hà Nội</option>
                <option class="text-center" value="2" th:selected="${city == '2'}">Đà Nẵng</option>
                <option class="text-center" value="3" th:selected="${city == '3'}">Hồ Chí Minh</option>
            </select>
            <!-- Input for Job Search -->
            <input type="text" class="form-control input-large col w-50"
                   placeholder="Tìm kiếm việc làm..." aria-label="Search"
                   th:value="${search}" />

            <!-- Search Button -->
            <button class="btn btn-primary col-2" id="search-input" type="submit">Tìm kiếm</button>
        </div>
    </div>
    <!--  end add  -->
    <table class="table table-hover" id="company-table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Level</th>
            <th scope="col">Company</th>
            <th scope="col">Address</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Dữ liệu mặc định cho Company -->
        <tr th:each="job: ${jobs}" class="text-start">
            <td th:text="${job.getName()}"></td>
            <td th:text="${job.getLevel()}"></td>
            <td th:text="${job.getCompany().getFullName()}"></td>
            <td th:text="${job.getCompany().getAddress()}"></td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pagination justify-content-center align-items-center">
        <ul class="pagination">
            <li th:classappend="${jobs.hasPrevious()} ? 'page-item' : 'page-item disabled'">
                <a th:href="@{/(page=${jobs.number - 1})}" class="page-link">Previous</a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, jobs.totalPages - 1)}" th:classappend="${i == jobs.number} ? 'page-item active' : 'page-item'">
                <a th:href="@{/(page=${i})}" class="page-link" th:text="${i + 1}">1</a>
            </li>
            <li th:classappend="${jobs.hasNext()} ? 'page-item' : 'page-item disabled'">
                <a th:href="@{/(page=${jobs.number + 1})}" class="page-link">Next</a>
            </li>
        </ul>
    </div>
</div>

<!-- Liên kết đến Bootstrap JS và jQuery -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function() {
        // chuyển trang khi click vào job
        $('#search-input').click(function() {
            let search = $('input').val();
            window.location.href = '?search=' + search+'&city='+$('select').val();
        });
    });
</script>
</body>
</html>
