<header>
  <div class="row bg-light text-white d-flex justify-content-around align-items-center p-4">
      <div class="col-md-6">
        <div class="row d-flex justify-content-start align-items-center ">
            <a class="col-md-2 text-decoration-none" href="/">Trang Chủ</a>
            <a class="col-md-2 text-decoration-none" href="/companies">Công Ty IT</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row d-flex justify-content-end align-items-center" th:if="${candidate}"> <!-- check co dang nhap hay chua, neu chua thi co nut dang nhap va dang ki -->
          <a class="col-md-3" th:text="${candidate.getFullName()}" href="/profile"></a>
          <a href="/api/v1/auth/logout" class="text-decoration-none col-md-3 btn btn-danger">Logout</a>
        </div>
        <div class="row d-flex justify-content-end align-items-center" th:unless="${candidate}"> <!-- check co dang nhap hay chua, neu chua thi co nut dang nhap va dang ki -->
          <a href="/show-login-form" class="text-decoration-none col-md-2 btn btn-primary mx-3">Login</a>
          <a  href="/show-register-form" class="text-decoration-none col-md-2 btn btn-primary ">Sign up</a>
        </div>
      </div>
  </div>
</header>