<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Company Detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .img-logo{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    </style>
</head>
<body>
<div th:replace="~{layout :: page_navbar}"></div>
<div class="container text-center">
    <div class="row">
        <img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/239953985_4642774182453168_3553111685496521535_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeEPfIIDCXw1K9tfqYo1cF_v7orsgrxVoPbuiuyCvFWg9kAEyQpv3vbN7mz9oZWZRm-Z4hsZldBBZI2G7PnDLyOa&_nc_ohc=hsQ3cdq0raYQ7kNvgHIaooK&_nc_zt=23&_nc_ht=scontent.fsgn2-7.fna&_nc_gid=AAXlZt2pBWSK-LXegmuMnAk&oh=00_AYC2duzjCMnDu_MaQfnuhiWIUSMxPbvO7V_uWusVB4ixag&oe=6753018E"  alt="Banner Company" >
    </div>
    <div class="row">
        <div class="col-8 ms-n3">
            <dt class="text-center text-danger">Thông Tin Công Ty</dt>
            <div class="row border-danger border-top border-4 text-start">
                <dt class="mt-3">Về Chúng Tôi</dt>
                <p class="text-break" th:text="${company.getAbout()}"></p>
            </div>
        </div>
        <div class="col-4">
            <dt class="text-center text-secondary">Thông Tin Liên Hệ</dt>
            <div class="row border-secondary border-top border-4 text-start">
                <dt class="mt-1 text-secondary">Website</dt>
                <a class="text-decoration-none ml-3" th:text="${company.getWebURL()}"></a>
                <dt class="mt-1 text-secondary">Email</dt>
                <p th:text="${company.getEmail()}"></p>
                <dt class="mt-1 text-secondary">Địa Chỉ Công Ty</dt>
                <p class="text-start" th:text="${company.getAddress()}"></p>
            </div>
        </div>
    </div>
    <div class="row text-start">
        <h1>Vị trí tuyển dụng</h1>
        <div class="card mb-3" th:each="job : ${jobs}">
            <div class=" row job">
                <div class="col-10 job-container" th:attr="data-id=${job.getId()}">
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <img class="rounded mx-auto d-block img-logo" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/239953985_4642774182453168_3553111685496521535_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeEPfIIDCXw1K9tfqYo1cF_v7orsgrxVoPbuiuyCvFWg9kAEyQpv3vbN7mz9oZWZRm-Z4hsZldBBZI2G7PnDLyOa&_nc_ohc=hsQ3cdq0raYQ7kNvgHIaooK&_nc_zt=23&_nc_ht=scontent.fsgn2-7.fna&_nc_gid=AAXlZt2pBWSK-LXegmuMnAk&oh=00_AYC2duzjCMnDu_MaQfnuhiWIUSMxPbvO7V_uWusVB4ixag&oe=6753018E" alt="logo company" >
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <input type="hidden" class="job-id" th:value="${job.getId()}">
                                <h5 class="card-title" th:text="${job.getName()}"></h5>
                                <p class="card-text" th:text="${job.getDescription()}"></p>
                                <p class="card-text" th:text="${job.getCompany().getFullName()}"></p>
                                <!--   skill-->
                                <div class="row d-flex flex-row justify-content-start align-items-center"  style="font-size: 13px">
                                    <div class="col-auto bg-info border rounded p-1 ms-2 skill-name" th:each="jobSkill : ${job.getJobSkills()}">
                                        <span th:text="${jobSkill.getSkill().getSkillName()}" style="color: #154bb4"></span>
                                    </div>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="row w-100 h-100">
                        <button class="btn btn-success apply-btn z-2" th:if="${!jobApplied.contains(job.getId())}">Apply</button>
                        <button class="btn btn-success un-apply-btn z-2" th:unless="${!jobApplied.contains(job.getId())}">Un Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer inclusion -->
<div th:replace="~{layout :: page_footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
            // chuyển trang khi click vào job
            $('.job-container').click(function() {
                let jobId = $(this).data('id');
                window.location.href = '/jobs/' + jobId;
            });

            $('.job-container').hover(
                function() {
                    // Code to execute when mouse enters the element
                    $(this).css('background-color', 'red');
                },
                function() {
                    // Code to execute when mouse leaves the element
                    $(this).css('background-color', '');
                }
            );
            $('.apply-btn').click(function() {
                let jobId = $(this).closest('.job').find('.job-id').val();
                window.location.href = '/jobs/apply/' + jobId;
            });
        $('.un-apply-btn').click(function() {
            let jobId = $(this).closest('.job').find('.job-id').val();
            window.location.href = '/jobs/un-apply/' + jobId;
        });

    });
</script>
</body>
</html>