<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web-search-Job</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
<div th:replace="~{layout :: page_navbar}"></div>
<div class="container mt-5" sec:authorize="isAuthenticated()">
  <h1 class="text-center mb-4">Đăng Tin Tuyển Dụng</h1>
  <form th:action="@{/jobs/edit}" th:method="post" th:object="${job}">
    <input type="hidden" th:field="*{id}">
    <!-- Job Title -->
    <div class="mb-3">
      <label for="jobTitle" class="form-label">Tiêu đề công việc</label>
      <input type="text" class="form-control" id="jobTitle" name="title" placeholder="Nhập tiêu đề công việc" required th:field="*{name}">
    </div>
    <!-- Job Description -->
    <div class="mb-3">
      <label for="jobDescription" class="form-label">Mô tả công việc</label>
      <textarea class="form-control" id="jobDescription" name="description" rows="4" placeholder="Mô tả chi tiết công việc" required th:field="*{description}"></textarea>
    </div>

    <!-- level Type -->
    <div class="mb-3">
      <label for="level" class="form-label">Cấp bậc</label>
      <select class="form-select" id="level" name="level" required th:field="*{level}">
        <option value="" disabled selected>Chọn cấp bậc mong muốn</option>
        <option value="5">Master</option>
        <option value="4">Professional</option>
        <option value="3">Advanced</option>
        <option value="2">Imtermediate</option>
        <option value="1">Beginer</option>
      </select>
    </div>
    <!-- skill -->
<!--    <div class="mb-3">-->
<!--      <label for="jobSkills" class="form-label">Kỹ năng yêu cầu</label>-->
<!--      <select-->
<!--              class="form-select p-1"-->
<!--              id="jobSkills"-->
<!--              name="skills"-->
<!--              multiple-->
<!--              required-->
<!--              aria-describedby="skillsHelp">-->
<!--        <option-->
<!--                th:each="skill : ${skills}"-->
<!--                th:value="${skill.getSkillName()}"-->
<!--                th:text="${skill.getSkillName()}">-->
<!--        </option>-->
<!--      </select>-->
<!--      <small id="skillsHelp" class="form-text text-muted">Tìm kiếm hoặc giữ Ctrl để chọn nhiều kỹ năng.</small>-->
<!--    </div>-->

    <!-- Salary -->
    <div class="mb-3">
      <label for="jobSalary" class="form-label">Mức lương</label>
      <input type="text" class="form-control" id="jobSalary" name="salary" placeholder="Nhập mức lương (ví dụ: 15 triệu - 20 triệu)" th:field="*{salary}">
    </div>
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary w-100">Chỉnh sửa</button>
  </form>
</div>
<div th:replace="~{layout :: page_footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!-- Select2 JS -->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>-->
<!--<script>-->
<!--  $(document).ready(function() {-->
<!--    $('#jobSkills').select2({-->
<!--      placeholder: "Chọn kỹ năng",-->
<!--      allowClear: true-->
<!--    });-->
<!--  });-->
<!--</script>-->
</body>
</html>