<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web-search-Job</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .bg-custom {
            background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 165, 0, 1)); /* Gradient từ đen sang cam */
        }
        .input-large {
            width: 100%; /* Chiều rộng 100% của phần tử cha */
            height: 60px; /* Chiều cao 50px */
            font-size: 18px; /* Kích thước chữ 18px */
            padding: 10px; /* Khoảng cách trong input */
            border: none;
            outline: none;
        }

         .img-logo{
             width: 100%;
             height: auto;
             object-fit: cover;
         }



    </style>
</head>
<body>
<!-- Begin header section -->
<div th:replace="~{components/header.html}" th:with="candidate=${candidate}"></div>

<div class="container-fluid">
    <div class="row bg-custom text-white">
            <div class="my-5 offset-2 col-md-6 offset-md-3">
                <div class="input-group">
                        <select class="form-select col" aria-label="City">
                            <option selected class="text-center">Thành Phố</option>
                            <option class="text-center" value="1">Hà Nội</option>
                            <option class="text-center" value="2">Đà Nẵng</option>
                            <option class="text-center" value="3">Hồ Chí Minh</option>
                        </select>
                    <input type="text" class="form-control input-large col w-50" placeholder="Tìm kiếm việc làm..." aria-label="Search">
                    <button class="btn btn-primary col-2" id="search-input" type="button">Tìm kiếm</button>
                </div>
            </div>
        <div class="row p-1 d-flex flex-row justify-content-around align-items-center text-center ">
            <dt class="col-2">Suggested Skill: </dt>
            <div class="col-1 border rounded">Java</div>
            <div class="col-1 border rounded">Nodejs</div>
            <div class="col-1 border rounded">ReactJs</div>
            <div class="col-1 border rounded">Kotlin</div>
        </div>
    </div>
    <!--  End header section -->
    <!--    begin body section     -->
    <h1 class="text-center">List Job</h1>
    <div class="container text-start">
        <div class="card mb-3" th:each="job : ${jobs}">
            <div class="job-container row g-0 job" th:attr="data-id=${job.getId()}">
                <div class="col-md-3 d-flex justify-content-center align-items-center">
                    <img class="rounded mx-auto d-block img-logo" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/239953985_4642774182453168_3553111685496521535_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeEPfIIDCXw1K9tfqYo1cF_v7orsgrxVoPbuiuyCvFWg9kAEyQpv3vbN7mz9oZWZRm-Z4hsZldBBZI2G7PnDLyOa&_nc_ohc=hsQ3cdq0raYQ7kNvgHIaooK&_nc_zt=23&_nc_ht=scontent.fsgn2-7.fna&_nc_gid=AAXlZt2pBWSK-LXegmuMnAk&oh=00_AYC2duzjCMnDu_MaQfnuhiWIUSMxPbvO7V_uWusVB4ixag&oe=6753018E" alt="logo company" >
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${job.getName()}"></h5>
                        <p class="card-text" th:text="${job.getDescription()}"></p>
                        <p class="card-text" th:text="${job.getCompany().getName()}"></p>
                        <!--   skill-->
                        <div class="row d-flex flex-row justify-content-start align-items-center"  style="font-size: 13px">
                            <div class="col-auto bg-info border rounded p-1 ms-2 skill-name" th:each="jobSkill : ${job.getJobSkills()}">
                                <span th:text="${jobSkill.getSkill().getSkillName()}" style="color: #154bb4"></span>
                            </div>
                        </div>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-2">
                    <button class="btn btn-success w-100 h-100">Apply</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End body section -->
</div>
<div th:replace="~{components/footer.html}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {

        // chuyển trang khi click vào job
        $('.job-container').click(function() {
            let jobId = $(this).data('id');
            window.location.href = '/jobs/' + jobId;
        });

        $('.job-container').hover(
            function() {
                // Code to execute when mouse enters the element
                $(this).css('background-color', 'red');
            },
            function() {
                // Code to execute when mouse leaves the element
                $(this).css('background-color', '');
            }
        );
    });
</script>
</body>
</html>