<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Job Detail</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    .img-logo {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .bg-custom {
      background-color: #edfbff;
      border-radius: 10px;
      margin: 5px;
    }
    .skill-name:hover {
      border: 1px solid #154bb4;
    }
  </style>
</head>
<body>
<div th:replace="~{layout :: page_navbar}"></div>
<div class="container text-center">
  <div class="row text-start job">
    <div class="card col-md-9 me-4">
      <div class="row g-0">

        <div class="col-md-9">
          <div class="card-body">
            <input type="hidden" class="job-id" th:value="${job.getId()}">
            <h5 class="card-title" th:text="${job.getName()}"></h5>
            <p class="card-text text-secondary" th:text="${job.getCompany().getFullName()}"></p>
            <p class="card-text" th:text="${job.getCompany().getAddress().toString()}"></p>
            <p class="card-text"><small class="text-muted" th:text="${job.getCreatedAt()}"></small></p>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col ms-n3">
          <dt class="text-center text-danger">Mô tả công việc</dt>
          <div class="row border-danger border-top border-4 text-start">
            <p class="text-break" th:text="${job.getDescription()}"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col border rounded">
      <dt class="text-center mt-1">Thông tin chung</dt>
      <hr>
      <dt>Cấp bậc</dt>
      <dd th:text="${job.getLevel()}"></dd>

      <dt>Các công nghệ sử dụng</dt>
      <div class="row d-flex flex-row justify-content-start align-items-center" style="font-size: 13px">
        <div class="col-auto bg-custom p-1 ms-2 skill-name" th:each="jobSkill : ${jobSkills}">
          <span th:text="${jobSkill.getSkill().getSkillName()}" style="color: #154bb4"></span>
        </div>
      </div>
    </div>
    <div th:if="${jobApplied}">
      <button type="button" class="btn btn-danger mt-3 w-100 p-2 apply-btn" th:if="${!jobApplied.contains(job.getId())}">Ứng tuyển</button>
      <button type="button" class="btn btn-danger mt-3 w-100 p-2 un-apply-btn" th:unless="${!jobApplied.contains(job.getId())}">Huỷ ứng tuyển</button>
    </div>
    <div>
      <div class="text-center p-3" sec:authorize="hasRole('ROLE_COMPANY')">
        <h1>Danh sách ứng viên</h1>
      </div>
      <div class="card" style="width: 18rem;" th:each="candidate : ${candidateOfJob}">
        <div class="card-body">
          <h5 class="card-title" th:text="${candidate.getFullName()}"></h5>
          <p class="card-text" th:text="${candidate.getEmail()}"></p>
          <p class="card-text" th:text="${candidate.getPhone()}"></p>
          <p class="card-text" th:text="${candidate.getDob()}"></p>
          <p class="card-text" th:text="${candidate.getAddress()}"></p>

          <form th:action="@{/api/v1/hrs/send-mail}" method="post">
            <input type="hidden" th:name="email" th:value="${candidate.getEmail()}"/>
            <button type="submit" class="btn btn-primary mt-3 w-100 p-2">Liên hệ</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer th:replace="~{layout :: page_footer}"></footer>
<script>
  $(document).ready(function() {
    $('.apply-btn').click(function() {
      let jobId = $(this).closest('.job').find('.job-id').val();
      window.location.href = 'apply/' + jobId;
    });
    $('.un-apply-btn').click(function() {
      let jobId = $(this).closest('.job').find('.job-id').val();
      window.location.href = '/jobs/un-apply/' + jobId;
    });
  });
</script>
</body>
</html>