<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title>List Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    .bg-custom {
      background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 165, 0, 1)); /* Gradient từ đen sang cam */
    }
    .input-large {
      width: 100%; /* Chiều rộng 100% của phần tử cha */
      height: 60px; /* Chiều cao 50px */
      font-size: 18px; /* Kích thước chữ 18px */
      padding: 10px; /* Khoảng cách trong input */
      border: none;
      outline: none;
    }
    .carousel-inner .card-img-top {
      height: 500px; /* Chiều cao cố định */
      width: 100%; /* Chiều rộng tự động */
      object-fit: cover; /* Cắt ảnh để phù hợp khung hình */
    }
    .limit-text {
      display: -webkit-box;
      -webkit-line-clamp: 4; /* Limit to 4 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left; /* Justify text */
    }
  </style>
</head>
<body>
<div th:replace="~{layout :: page_navbar}"></div>
<div class="container text-center p-3">
<!--  find company section -->
  <div class="row p-3">
    <div class="input-group">
      <!-- Dropdown for City -->
      <select class="form-select col" aria-label="City" th:value="${city}">
        <option class="text-center" value="4" th:selected="${city == '4'}">Thành Phố</option>
        <option class="text-center" value="1" th:selected="${city == '1'}">Hà Nội</option>
        <option class="text-center" value="2" th:selected="${city == '2'}">Đà Nẵng</option>
        <option class="text-center" value="3" th:selected="${city == '3'}">Hồ Chí Minh</option>
      </select>
      <!-- Input for Job Search -->
      <input type="text" class="form-control input-large col w-50"
             placeholder="Nhập tên công ty cần tìm ..." aria-label="Search"
             th:value="${search}" />
      <!-- Search Button -->
      <button class="btn btn-primary col-2" id="search-input" type="submit">Tìm kiếm</button>
    </div>
  </div>
<!--  filter company section-->
  <div class="row border border-danger">
      <div class="col-6 p-3 border-end border-danger tab-company">
        <dt>Cong Ty Hang Dau</dt>
      </div>
      <div class="col-6 p-3 border-start border-danger tab-company">
        <dt><a class="text-decoration-none text-black" href="#companyForYou">Cong Ty Dang Cho Don Ban</a></dt>
      </div>
  </div>
  <dt class="text-start p-3">Cong Ty Hang Dau</dt>
<!--  top company section -->

    <!-- Carousel -->
    <div id="topCompany" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#topCompany" data-bs-slide-to="0" class="active bg-secondary"></button>
        <button type="button" data-bs-target="#topCompany" data-bs-slide-to="1" class="bg-secondary"></button>
        <button type="button" data-bs-target="#topCompany" data-bs-slide-to="2" class="bg-secondary"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card mb-3">
            <img src="https://www.sacombank.com.vn/content/dam/sacombank/images/tin-tuc/import/5957/imagestand/UuDaiThanhToanQuocTe2021_banner.jpg" class="card-img-top d-block w-100" alt="Sacombank image">
            <div class="card-body">
              <h5 class="card-title">Sacombank</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card mb-3">
            <img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/239953985_4642774182453168_3553111685496521535_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeEPfIIDCXw1K9tfqYo1cF_v7orsgrxVoPbuiuyCvFWg9kAEyQpv3vbN7mz9oZWZRm-Z4hsZldBBZI2G7PnDLyOa&_nc_ohc=hsQ3cdq0raYQ7kNvgHIaooK&_nc_zt=23&_nc_ht=scontent.fsgn2-7.fna&_nc_gid=AAXlZt2pBWSK-LXegmuMnAk&oh=00_AYC2duzjCMnDu_MaQfnuhiWIUSMxPbvO7V_uWusVB4ixag&oe=6753018E" class="card-img-top d-block w-100" alt="TP Bang image">
            <div class="card-body">
              <h5 class="card-title">TP BANK</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card mb-3">
            <img src="https://techcombank.com/content/dam/techcombank/public-site/articles/non-blog/Banner-cashback-ther-VISA-c6315ae326.jpg" class="card-img-top d-block w-100" alt="Techcombank image">
            <div class="card-body">
              <h5 class="card-title">Techcombank</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#topCompany" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#topCompany" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  <dt class="text-start p-3" id="companyForYou">Cong Ty Danh Cho Ban</dt>
<!--  list company section -->
  <div class="d-flex flex-row">
    <div class="row p-2 company-container" th:each="company : ${companies}" th:attr="data-id=${company.getId()}">
      <div class="col-3">
        <div class="card" style="width: 18rem; height: 18rem">
          <img src="https://techcombank.com/content/dam/techcombank/public-site/articles/non-blog/Banner-cashback-ther-VISA-c6315ae326.jpg" class="card-img-top" alt="Techcombank image">
          <div class="card-body">
            <h5 class="card-title" th:text="${company.getFullName()}"></h5>
            <p class="card-text limit-text" th:text="${company.getAbout()}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination justify-content-center align-items-center">
    <ul class="pagination">
      <li th:classappend="${companies.hasPrevious()} ? 'page-item' : 'page-item disabled'">
        <a th:href="@{/(page=${companies.number - 1})}" class="page-link">Previous</a>
      </li>
      <li th:each="i : ${#numbers.sequence(0, companies.totalPages - 1)}" th:classappend="${i == companies.number} ? 'page-item active' : 'page-item'">
        <a th:href="@{/(page=${i})}" class="page-link" th:text="${i + 1}">1</a>
      </li>
      <li th:classappend="${companies.hasNext()} ? 'page-item' : 'page-item disabled'">
        <a th:href="@{/(page=${companies.number + 1})}" class="page-link">Next</a>
      </li>
    </ul>
  </div>
  </div>
<!-- Footer inclusion -->
<footer th:replace="~{layout :: page_footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
  $(document).ready(function() {
    $('.tab-company').hover(
            function() {
              // Code to execute when mouse enters the element
              $(this).css({'background-color': 'red', 'color': 'white'});
            },
            function() {
              // Code to execute when mouse leaves the element
              $(this).css({'background-color': '', color: "black"});
            }
    );
    $('.company-container').click(
            function (){
              let companyId = $(this).data('id');
              window.location.href = "/companies/"+companyId;
            }
    );
    $('#search-input').click(function() {
      let search = $('input').val();
      window.location.href = '?search=' + search+'&city='+$('select').val();
    });
  });
</script>
</body>
</html>